html, body {
  margin: auto;
  padding: 0;
  background: #000;
  font-family: 'Roboto', sans-serif;
}

canvas{
  position: absolute;
  top: 15vh;
  left: 20vw;
}

#control-buttons{
  background-color: #222;
  padding: 1%;
  border-radius: 5px;
  position: absolute;
  top: 30vh;
  right: 25vw;
  color: #FFF;
}

#control-buttons #yaw{
  color: #0F0;   
}

#control-buttons #pitch{
  color: #F00;   
}

#control-buttons #roll{
  color: #00F;   
}